qp-enterprise-integration-platform-sample/sample-domain/domain/model/src/main/resources/ISS/Library/Library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2013, 2014, 2015 QPark Consulting  S.a r.l.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v1.0.
 * The Eclipse Public License is available at
 * http://www.eclipse.org/legal/epl-v10.html.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jaxb:version="2.0"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"

	xmlns:EIPcty="http://www.qpark.com/CommonTypes"
	xmlns:ISScty="http://www.samples.com/CommonTypes"

	xmlns:ISSlib="http://www.samples.com/Library/LibraryTypes"
	targetNamespace="http://www.samples.com/Library/LibraryTypes"
>

	<import namespace="http://www.qpark.com/CommonTypes" schemaLocation="../../EIP/Common/Common.xsd"/>
	<import namespace="http://www.samples.com/CommonTypes" schemaLocation="../../ISS/Common/Common.xsd"/>

	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.samples.platform.model.library"/>
			</jaxb:schemaBindings>
		</appinfo>
		<documentation/>
	</annotation>


	<complexType name="BookType">
		<complexContent>
			<extension base="EIPcty:EntityType">
				<sequence>
					<element name="ISBN" type="string"/>
					<element name="title" type="string"/>
					<element name="price" type="ISScty:EURType"/>
					<element name="category" type="EIPcty:UUIDType"/>
					<element name="language" type="EIPcty:UUIDType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BookCriteriaType">
		<complexContent>
			<extension base="EIPcty:EntityCriteriaType">
				<sequence>
					<element name="title" type="string"/>
					<element name="ISBN" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="LibraryType">
		<complexContent>
			<extension base="EIPcty:AssetType">
				<sequence>
					<element name="location" type="string" minOccurs="0"/>
					<element name="books" type="ISSlib:BookType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>