qp-enterprise-integration-platform-sample/sample-domain/model/src/main/resources/Interfaces/Mapping/TechnicalSupport/TechnicalSupportMappingTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2013, 2014, 2015 QPark Consulting  S.a r.l.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v1.0.
 * The Eclipse Public License is available at
 * http://www.eclipse.org/legal/epl-v10.html.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0"

	xmlns:EIPcty="http://www.qpark.com/CommonTypes"
	xmlns:ISSTechSupport="http://www.samples.com/TechnicalSupport/TechnicalSupportTypes"
	xmlns:ISSLib="http://www.samples.com/Library/LibraryTypes"

	xmlns:MPmp="http://www.qpark.com/Interfaces/MappingTypes"
	xmlns:MPTechSupportExtModel="http://www.samples.com/Interfaces/TechnicalSupportExternalTypes"

	xmlns:MPmTechSupport="http://www.samples.com/Interfaces/TechnicalSupportMappingTypes"
	targetNamespace="http://www.samples.com/Interfaces/TechnicalSupportMappingTypes"
>

	<import namespace="http://www.qpark.com/CommonTypes" schemaLocation="../../../EIP/Common/Common.xsd"/>
	<import namespace="http://www.qpark.com/Interfaces/MappingTypes" schemaLocation="../MappingTypes.xsd"/>

	<import namespace="http://www.samples.com/Interfaces/TechnicalSupportExternalTypes" schemaLocation="TechnicalSupportExternalDefinedTypes.xsd"/>
	<import namespace="http://www.samples.com/TechnicalSupport/TechnicalSupportTypes" schemaLocation="../../../ISS/TechnicalSupport/TechnicalSupport.xsd"/>
	<import namespace="http://www.samples.com/Library/LibraryTypes" schemaLocation="../../../ISS/Library/Library.xsd"/>

	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.samples.platform.inf.iss.tech.support.map" />
			</jaxb:schemaBindings>
		</appinfo>
		<documentation>Interfaces: Technical support mapping type definitions</documentation>
	</annotation>

<!--
The ComplexMappingTypes could be done as a DirectMappingType too. Here it is done to demonstrate the type conversion.
-->

	<complexType name="SystemUserReportCriteria.dateMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="criteria" type="ISSTechSupport:SystemUserReportCriteriaType"/>
					<element name="return" type="date" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TechSupport.SystemUserLog.requestsGrantedMappingType">
		<annotation>
			<documentation>
				Number of requests in long.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="MPmp:ComplexMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="long"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TechSupport.SystemUserLog.requestsDeniedMappingType">
		<annotation>
			<documentation>
				Number of denied requests in long.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="MPmp:ComplexMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="long"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TechSupport.SystemUserLog.responseFaultsMappingType">
		<annotation>
			<documentation>
				Number of responses with faults in long.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="MPmp:ComplexMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="long"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SystemUserLog.logDateMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="date" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SystemUserLog.contextMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SystemUserLog.versionMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SystemUserLog.userNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SystemUserLog.serviceNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SystemUserLog.operationNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="systemUserReport" type="MPTechSupportExtModel:ExtSystemUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<complexType name="ApplicationUserLog.contextMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.versionMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.userNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.serviceNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.operationNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.clientSessionIdMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="string" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.hostNameMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.durationStringMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="normalizedString" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.startMappingType">
		<complexContent>
			<extension base="MPmp:DirectMappingType">
				<sequence>
					<element name="applicationUserLog" type="MPTechSupportExtModel:ExtApplicationUserLogType"/>
					<element name="return" type="dateTime" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BookType.titleConcatenationType">
		<complexContent>
			<extension base="MPmp:ComplexMappingType">
				<sequence>
					<element name="techSupportBook" type="ISSTechSupport:BookType"/>
					<element name="issBook" type="ISSLib:BookType"/>
					<element name="return" type="dateTime" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.networkTabularMappingType">
		<annotation><documentation>Map the hostname to a network identifier</documentation></annotation>
		<complexContent>
			<extension base="MPmp:TabularMappingType">
				<sequence>
					<element name="hostname" type="MPmTechSupport:ApplicationUserLog.hostNameMappingType"/>
					<element name="key0" type="string" default="127.0.0.1" />
					<element name="value0" type="string" default="localhost" />
					<element name="key1" type="string" default="localhost" />
					<element name="value1" type="string" default="localhost" />
					<element name="key2" type="string" default="192.168.*" />
					<element name="value2" type="string" default="internalNetwork" />
					<element name="default" type="string" default="externalNetwork" />
					<element name="return" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.networkToLongTabularMappingType">
		<annotation><documentation>Map the hostname to a network identifier</documentation></annotation>
		<complexContent>
			<extension base="MPmp:TabularMappingType">
				<sequence>
					<element name="network" type="MPmTechSupport:ApplicationUserLog.networkTabularMappingType"/>
					<element name="key0" type="string" default="localhost" />
					<element name="value0" type="long" default="1234567" />
					<element name="key1" type="string" default="internalNetwork" />
					<element name="value1" type="long" default="2345678" />
					<element name="key2" type="string" default="externalNetwork" />
					<element name="value2" type="long" default="3456789" />
					<element name="default" type="string" default="9876543" />
					<element name="return" type="long"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ApplicationUserLog.networkLongToDoubleTabularMappingType">
		<annotation><documentation>Map the hostname to a network identifier</documentation></annotation>
		<complexContent>
			<extension base="MPmp:TabularMappingType">
				<sequence>
					<element name="hostname" type="MPmTechSupport:ApplicationUserLog.networkToLongTabularMappingType"/>
					<element name="key0" type="long" default="1234567" />
					<element name="value0" type="double" default="123.4567" />
					<element name="key1" type="long" default="2345678" />
					<element name="value1" type="double" default="234.5678" />
					<element name="key2" type="long" default="3456789" />
					<element name="value2" type="double" default="3456.789" />
					<element name="default" type="double" default="9876.543" />
					<element name="return" type="double"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="EIP.DefaultStringDefinitionMappingType">
		<annotation>
			<documentation>Default value of 'Empty string'</documentation>
		</annotation>
		<sequence>
			<element name="return" type="string" default="Empty string"/>
		</sequence>
	</complexType>
	<complexType name="EIP.DefaultBooleanDefinitionMappingType">
		<annotation>
			<documentation>Default value of true</documentation>
		</annotation>
		<sequence>
			<element name="return" type="boolean" default="false"/>
		</sequence>
	</complexType>
	<complexType name="EIP.DefaultDoubleDefinitionMappingType">
		<annotation>
			<documentation>Default value of 1.41</documentation>
		</annotation>
		<sequence>
			<element name="return" type="double" default="1.41"/>
		</sequence>
	</complexType>
	<complexType name="EIP.DefaultIntDefinitionMappingType">
		<annotation>
			<documentation>Default value of 0</documentation>
		</annotation>
		<sequence>
			<element name="return" type="int" default="0"/>
		</sequence>
	</complexType>

</schema>
