qp-enterprise-integration-platform-sample/sample-domain/model/src/main/resources/EIP/Documentation/DocumentationModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0"
	xmlns:DM="http://www.qpark-consulting.com/EIP/Utility/DocumentationModel"
	targetNamespace="http://www.qpark-consulting.com/EIP/Utility/DocumentationModel"
>
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.qpark.eip.model.docmodel" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<complexType name="EnterpriseType">
		<sequence>
			<element name="name" type="string"/>
			<element name="modelVersion" type="normalizedString">
				<annotation><documentation>Version of the model.</documentation></annotation>
			</element>
			<element name="domains" type="DM:DomainType" maxOccurs="unbounded" minOccurs="0"/>
			<element name="flows" type="DM:FlowType" maxOccurs="unbounded" minOccurs="0"/>
			<element name="basicDataTypes" type="DM:DataType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The XMLSchema defined data types.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<element name="Enterprise" type="DM:EnterpriseType"/>
	<complexType name="DomainType">
		<annotation><documentation>This is basically the path where the schemas are stored. The name of the domain it the path.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>UUID of the domain object.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the domain it the path.</documentation></annotation>
			</element>
			<element name="cluster" type="DM:ClusterType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The list of clusters in the domain.</documentation></annotation>
			</element>
			<element name="service" type="DM:ServiceType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The list of services in the domain.</documentation></annotation>
			</element>
			<element name="subname" type="string" minOccurs="0"/>
			<element name="subsubname" type="string" minOccurs="0"/>
			<element name="subsubsubname" type="string" minOccurs="0"/>
			<element name="description" type="string">
				<annotation><documentation>This is _NOT_ parsed data till now.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ClusterType">
		<annotation><documentation>This is basically the schema file.</documentation></annotation>
				<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>UUID of the cluster.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the cluster is the name space.</documentation></annotation>
			</element>
			<element name="fileName" type="string">
				<annotation><documentation>The file name space.</documentation></annotation>
			</element>
			<element name="version" type="string">
				<annotation><documentation>The version of the cluster. If no version could be found 1.0 will be assumed.</documentation></annotation>
			</element>
			<element name="packageName" type="normalizedString">
				<annotation><documentation>This is the JAXB package name definition of the schema.</documentation></annotation>
			</element>
			<element name="description" type="normalizedString">
				<annotation><documentation>This is the annotation documentation of schema tag.</documentation></annotation>
			</element>
			<element name="complexType" type="DM:ComplexType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="interfaceMappingType" type="DM:InterfaceMappingType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="directMappingType" type="DM:DirectMappingType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="defaultMappingType" type="DM:DefaultMappingType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="complexMappingType" type="DM:ComplexMappingType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="complexUUIDMappingType" type="DM:ComplexUUIDMappingType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The complexTypes defined in the schema.</documentation></annotation>
			</element>
			<element name="elementType" type="DM:ElementType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The elements defined in the schema.</documentation></annotation>
			</element>
			<element name="warning" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The list of warning detected (e.g. namespace imported but not used).</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ServiceType">
		<annotation><documentation>This is basically the schema file. </documentation></annotation>
				<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the service is the serviceId.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="clusterId" type="normalizedString">
				<annotation><documentation>The id of the cluster that contains the service definition.</documentation></annotation>
			</element>
			<element name="serviceId" type="normalizedString">
				<annotation>
					<documentation>
						This is a substring of the package name reduced by
						the base package name of the {@link Enterprise} and the message
						definitions.
						If the {@link Enterprise#getBasePackageName()} equals to
						"com.samples.platform" and the message definitions specified when
						running the {@link XsdsUtil} is "msg svc mapping flow" the resulting
						{@link Service#serviceId} of the service defined in the XSD with JAXB
						package name "com.samples.platform.service.library.msg" will be
						"library".
						see ServiceIdRegistry#getAllServiceIds()
						see com.qpark.maven.plugin.xjc.XjcMojo#messagePackageNameSuffixes
					</documentation>
				</annotation>
			</element>
			<element name="packageName" type="normalizedString">
				<annotation><documentation>This is the JAXB package name definition of the service.</documentation></annotation>
			</element>
			<element name="operation" type="DM:OperationType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The operations defined for that service. An Operation is a combination of a request and response ElementType.</documentation></annotation>
			</element>
			<element name="description" type="string">
				<annotation><documentation>This is _NOT_ parsed data till now.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DataType">
		<annotation><documentation>ComplexType or XMLSchema defined data type.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent cluster UUID or empty.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name is the QName of the complexType or XMLSchema defined data type.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="javaPackageName" type="normalizedString">
				<annotation><documentation>This is the package name of the implementing JAXB class.</documentation></annotation>
			</element>
			<element name="javaClassName" type="normalizedString">
				<annotation><documentation>This is the full qualified class name of the implementing JAXB class.</documentation></annotation>
			</element>
			<element name="description" type="normalizedString" minOccurs="0">
				<annotation><documentation>This is the annotation documentation of complextType tag. Elsewise (XMLSchema defined data type) it will not be set.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType abstract="true" name="FieldMappingType">
		<annotation><documentation>This is the complexType.</documentation></annotation>
		<complexContent>
			<extension base="DM:DataType">
				<sequence>
					<element name="input" type="DM:FieldType" minOccurs="0" maxOccurs="unbounded">
						<annotation><documentation>The input of the mapping type.</documentation></annotation>
					</element>
					<element name="returnValueTypeId" type="normalizedString" minOccurs="0">
						<annotation><documentation>The UUID of the return definition of the mapping type.</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DirectMappingType">
		<annotation><documentation>This is the direct mapping type. It descends from DirectMappingType of name space is http://www.qpark.com/Interfaces/MappingTypes.</documentation></annotation>
		<complexContent>
			<extension base="DM:FieldMappingType">
				<sequence>
					<element name="accessor" type="normalizedString">
						<annotation><documentation>The UUID of the field to access filling the return. E.g. ISBN of Book.ISBNMappingType.</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DefaultMappingType">
		<annotation><documentation>This is the default mapping type. It descends from DefaultMappingType of name space is http://www.qpark.com/Interfaces/MappingTypes.</documentation></annotation>
		<complexContent>
			<extension base="DM:FieldMappingType">
				<sequence>
					<element name="defaultValue" type="string" minOccurs="0">
						<annotation><documentation>The default value if set.</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ComplexMappingType">
		<annotation><documentation>This is the complex mapping type. It descends from ComplexMappingType of name space is http://www.qpark.com/Interfaces/MappingTypes.</documentation></annotation>
		<complexContent>
			<extension base="DM:FieldMappingType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ComplexUUIDMappingType">
		<annotation><documentation>This is the complex mapping type. It descends from ComplexUUIDMappingType of name space is http://www.qpark.com/Interfaces/MappingTypes.</documentation></annotation>
		<complexContent>
			<extension base="DM:FieldMappingType">
				<sequence>
					<element name="categoryNameOrUUID" type="normalizedString">
						<annotation><documentation>The name of the category of the ReferenceDataType to be searched.</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InterfaceMappingType">
		<annotation><documentation>This is the interface mapping type using the MappingTypeTypes. It descends from InterfaceType of name space is http://www.qpark.com/Interfaces/MappingTypes.</documentation></annotation>
		<complexContent>
			<extension base="DM:DataType">
				<sequence>
					<element name="fieldMappings" type="DM:FieldType" minOccurs="0" maxOccurs="unbounded">
						<annotation><documentation>The children of the interface mapping type defined in the sequence.</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>	
	<complexType name="ComplexType">
		<annotation><documentation>This is the complexType.</documentation></annotation>
		<complexContent>
			<extension base="DM:DataType">
				<sequence>
					<element name="descendedFromId" type="normalizedString" minOccurs="0">
						<annotation><documentation>The UUID of the XMLSchema defined data type or complex type this is descended (inherited) from, if any.</documentation></annotation>
					</element>
					<element name="field" type="DM:FieldType" minOccurs="0" maxOccurs="unbounded">
						<annotation><documentation>The children of the complexType defined in the sequence.</documentation></annotation>
					</element>
					<element name="isFlowInputType" type="boolean">
						<annotation><documentation>true, if the base type is FlowInputType of name space is http://www.qpark.com/Interfaces/Flow</documentation></annotation>
					</element>
					<element name="isFlowOutputType" type="boolean">
						<annotation><documentation>true, if the base type is FlowOutputType of name space is http://www.qpark.com/Interfaces/Flow</documentation></annotation>
					</element>
					<element name="isMappingRequestType" type="boolean">
						<annotation><documentation>true, if the base type is MappingInputType of name space is http://www.qpark.com/Interfaces/MappingTypes</documentation></annotation>
					</element>
					<element name="isMappingResponseType" type="boolean">
						<annotation><documentation>true, if the base type is MappingOutputType of name space is http://www.qpark.com/Interfaces/MappingTypes</documentation></annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FieldType">
		<annotation><documentation>This is a element of a sequence inside a complexType.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the element inside of the sequence.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="fieldTypeDefinitionId" type="normalizedString">
				<annotation><documentation>The id of the dataType assigned to the field.</documentation></annotation>
			</element>
			<element name="cardinality" type="normalizedString">
				<annotation><documentation>The cardinality of the element of the complexType. E.g. "[0..*]" or "[1..1]".</documentation></annotation>
			</element>
			<element name="cardinalityMinOccurs" type="int" minOccurs="0">
				<annotation><documentation>The minOccurs of the element of the complexType.</documentation></annotation>
			</element>
			<element name="cardinalityMaxOccurs" type="int" minOccurs="0">
				<annotation><documentation>The maxOccurs of the element of the complexType. Value null corresponds to unbounded.</documentation></annotation>
			</element>
			<element name="listField" type="boolean">
				<annotation><documentation>true if cardinality is [0..*].</documentation></annotation>
			</element>
			<element name="optionalField" type="boolean">
				<annotation><documentation>true if cardinalityMinOccurs=0 and not cardinalityMaxOccurs is null.</documentation></annotation>
			</element>
			<element name="description" type="string">
				<annotation><documentation>The element annotation documentation.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OperationType">
		<annotation><documentation>This is a combination of request and response ElementTypes defined in a service.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The operation name is derived from the service JAXB package name together with the request elementType.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="request" type="DM:ElementType"/>
			<element name="response" type="DM:ElementType"/>
			<element name="invokes" type="DM:FlowType" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>This is _NOT_ parsed data till now.</documentation></annotation>
			</element>
			<element name="description" type="string">
				<annotation><documentation>Concatenation of request and response description.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ElementType">
		<annotation><documentation>This is element defined in the cluster.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name is the QName of the element.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="complexTypeId" type="normalizedString">
				<annotation><documentation>The UUID of the ComplexType defining the element type.</documentation></annotation>
			</element>
			<element name="description" type="string">
				<annotation><documentation>The ElementType annotation documentation.</documentation></annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="FlowType">
		<annotation><documentation>This is the flow definition.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the flow.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="clusterId" type="normalizedString" >
				<annotation><documentation>The id of the cluster that defines the flow.</documentation></annotation>
			</element>
			<element name="invokeFlowDefinition" type="DM:RequestResponseDataType">
				<annotation><documentation>Combination of request and response complexTypes defining the flow input and output type.</documentation></annotation>
			</element>
			<element name="executeRequest" type="DM:FlowProcessType"/>
			<element name="processResponse" type="DM:FlowProcessType"/>
			<element name="description" type="string">
				<annotation><documentation>This is _NOT_ parsed data till now.</documentation></annotation>
			</element>
		</sequence>
	</complexType>			
	<complexType name="FlowProcessType">
		<annotation><documentation>This is the flow executeRequest or processResponse.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name executeRequest or processResponse.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="requestResponse" type="DM:RequestResponseDataType">
				<annotation><documentation>Combination of request and response complexTypes.</documentation></annotation>
			</element>
			<element name="subRequest" type="DM:FlowSubRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="filter" type="DM:FlowFilterType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="mapInOut" type="DM:FlowMapInOutType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>			
	<complexType name="FlowMapInOutType">
		<annotation><documentation>This is the flow mapInOut method definition.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>mapInOut.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="mapInOut" type="DM:RequestResponseDataType">
				<annotation><documentation>Combination of in and output complexTypes.</documentation></annotation>
			</element>
			<element name="interfaceMappingId" type="normalizedString" minOccurs="0" maxOccurs="unbounded">
				<annotation><documentation>The list of interface mapping types ids used in the request and response.</documentation></annotation>
			</element>
		</sequence>
	</complexType>			
	<complexType name="FlowSubRequestType">
		<annotation><documentation>This is the flow sub request definition.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the sub request.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="subRequestInOut" type="DM:RequestResponseDataType">
				<annotation><documentation>Combination of in and output complexTypes.</documentation></annotation>
			</element>
		</sequence>
	</complexType>			
	<complexType name="FlowFilterType">
		<annotation><documentation>This is the flow filter definition.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The name of the filter.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="filterInOut" type="DM:RequestResponseDataType">
				<annotation><documentation>Combination of in and output complexTypes.</documentation></annotation>
			</element>
		</sequence>
	</complexType>			
	<complexType name="RequestResponseDataType">
		<annotation><documentation>This is a combination of request and response complexTypes.</documentation></annotation>
		<sequence>
			<element name="id" type="normalizedString">
				<annotation><documentation>The UUID.</documentation></annotation>
			</element>
			<element name="modelVersion" type="normalizedString"/>
			<element name="parentId" type="normalizedString" minOccurs="0">
				<annotation><documentation>The parent UUID.</documentation></annotation>
			</element>
			<element name="name" type="string">
				<annotation><documentation>The concatenation of request QName, '#' and the response QName.</documentation></annotation>
			</element>
			<element name="namespace" type="string" minOccurs="0">
				<annotation><documentation>The name space.</documentation></annotation>
			</element>
			<element name="requestId" type="normalizedString">
				<annotation><documentation>The UUID of the DataType defining the request.</documentation></annotation>
			</element>
			<element name="responseId" type="normalizedString">
				<annotation><documentation>The UUID of the DataType defining the response.</documentation></annotation>
			</element>
		</sequence>
	</complexType>
</schema>