qp-enterprise-integration-platform-sample/sample-domain/domain/service/src/main/resources/ISS/Library/LibraryServiceMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2013, 2014, 2015 QPark Consulting  S.a r.l.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v1.0.
 * The Eclipse Public License is available at
 * http://www.eclipse.org/legal/epl-v10.html.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0"

	xmlns:ISSlib="http://www.samples.com/Library/LibraryTypes"

	xmlns:EIPbasem="http://www.qpark.com/Common/BaseMessages"
	xmlns:EIPctym="http://www.qpark.com/Common/CommonServiceMessages"

	xmlns:ISSlibm="http://www.sample.com/Library/LibraryServiceMessages"
	targetNamespace="http://www.sample.com/Library/LibraryServiceMessages"
>

	<import namespace="http://www.samples.com/Library/LibraryTypes" schemaLocation="http://www.samples.com/model/ISS/Library/Library.xsd"/>

	<import namespace="http://www.qpark.com/Common/BaseMessages" schemaLocation="../../EIP/Common/BaseMessage.xsd"/>
	<import namespace="http://www.qpark.com/Common/CommonServiceMessages" schemaLocation="../../EIP/Common/CommonServiceMessages.xsd"/>

	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.samples.platform.service.library.msg" />
			</jaxb:schemaBindings>
		</appinfo>
		<documentation>Message definitions of the library web service.</documentation>
	</annotation>

	<complexType name="CreateBookRequestType">
		<annotation>
			<documentation>
				@ServiceConsumer tbd
				@ServiceImplementor ESB
				@ServiceDataProvider ESB
				@ServiceDescription Creates a book.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="EIPbasem:RequestMessage">
				<sequence>
					<element name="book" type="ISSlib:BookType" maxOccurs="unbounded" minOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CreateBookResponseType">
		<complexContent>
			<extension base="EIPbasem:ResponseMessage">
				<sequence>
					<element name="book" type="ISSlib:BookType" maxOccurs="unbounded" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="CreateBookRequest" type="ISSlibm:CreateBookRequestType"/>
  <element name="CreateBookResponse" type="ISSlibm:CreateBookResponseType"/>

	<complexType name="GetBookRequestType">
		<annotation>
			<documentation>
				@ServiceConsumer tbd
				@ServiceImplementor ESB
				@ServiceDataProvider ESB
				@ServiceDescription returns the books according to the criteria.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="EIPbasem:RequestMessage">
				<sequence>
					<element name="criteria" type="ISSlib:BookCriteriaType" maxOccurs="1" minOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GetBookResponseType">
		<complexContent>
			<extension base="EIPbasem:ResponseMessage">
				<sequence>
					<element name="book" type="ISSlib:BookType" maxOccurs="unbounded" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="GetBookRequest" type="ISSlibm:GetBookRequestType"/>
  <element name="GetBookResponse" type="ISSlibm:GetBookResponseType"/>

</schema>